[tool.semantic_release]
version_variable = "pyproject.toml:version"

[tool.poetry]
name = "instrumentum"
version = "0.1.2"
description = "General utilities for data science projects"
authors = ["Federico Montanana"]
license = "MIT"
readme = "README.md"

[tool.poetry.dependencies]
python = "^3.9"
pandas = "^1.3.3"

[tool.poetry.dev-dependencies]
ipykernel = "^6.4.1"


[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
